/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1024px) {
  .logotype {
    left: 48px;
  }
  .social {
    right: 48px;
  }
  .heading {
    margin-bottom: 32px;
  }
  .works {
    padding: 0 36px;
  }
  .card {
    min-width: 200px;
    max-width: 300px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 18px;
  }
  .heading {
    &__jobs {
      span {
        font-size: 12px;
        padding: 0 8px;
        display: flex;
        justify-content: center;
        flex: 1;
        white-space: nowrap;
      }
    }
  }
  .card {
    &__title {
      font-size: 14px;
    }

    &__description {
      font-size: 12px;
    }
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  body {
    overflow: visible;
    padding-bottom: 100px;
  }
  .heading {
    padding: 0 48px;
    margin-top: 68px;

    &__jobs {
      justify-content: stretch;
      width: 100%;

      span {
        font-size: 12px;
        padding: 0 8px;
        display: flex;
        justify-content: center;
        flex: 1;
        white-space: nowrap;
      }
    }

    &__abs {
      .card__corner, svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  .works {
    flex-direction: column;
    padding: 0 48px;
  }
  .card {
    margin: 0 0 36px;

    &__titleWrapper {
      order: 1;
      margin-bottom: 4px;
    }

    &__likes {
      .card__corner {
        width: 12px;
        height: 12px;
      }
    }

    &__content {
      order: 3;
    }

    &__imgWrapper {
      min-height: calc(100vw - 96px);
      max-height: calc(100vw - 96px);

      img {
        object-position: center;
      }
    }

    &__description {
      order: 2;
      margin: 0 0 16px;
      padding: 0;
      background: transparent;
      opacity: 1;
      transform: translateY(0);
      visibility: visible;

      &.maskSmall {
        --smooth-corners: 22;
      }
    }
  }
  .social {
    &__item, svg {
      width: 24px;
      height: 24px;
    }
  }
  .mask {
    --smooth-corners: 9;
  }
}

@media (max-width: 490px) {
  .heading {
    padding-bottom: 4px;
  }
  h1 {
    display: none;
  }
  .card {
    max-width: 100%;
  }
}