$accent: #ffdd2d;
$red: #ff2d2d;
$green: #54ff2d;
$blue: #2dc0ff;
$gray: #f3f3f3;
$dark: #212123;


$introDuration: 2s;
$introItemDuration: 8s;

$showEasing: cubic-bezier(0.01, 0.74, 1, 1);
$showEasingOut: cubic-bezier(0.76, 0.01, 1, 0.43);